<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:cxf="http://cxf.apache.org/core" xmlns:p="http://cxf.apache.org/policy"
       xmlns:wsp="http://www.w3.org/ns/ws-policy"
       xsi:schemaLocation="http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">


<!--
    <jaxws:endpoint
            xmlns:hello="http://service.it2go.com/"
            id="HelloWorld"
            address="/helloWorld"
            serviceName="hello:HelloWorld"
            endpointName="hello:HelloWorld"
            implementor="com.it2go.service.HelloWorldImpl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    </jaxws:endpoint>

    <jaxws:endpoint
            xmlns:hello="http://service.it2go.com/"
            id="AuthoHelloWorld"
            address="/authoHelloWorld"
            serviceName="hello:HelloWorld"
            endpointName="hello:HelloWorld"
            implementor="com.it2go.service.HelloWorldImpl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    </jaxws:endpoint>-->
    <!--Added callback for checking the usernametoken credential -->
    <bean class="com.it2go.services.ServerPasswordCallback" id="myPasswordCallback" />

    <jaxws:endpoint id="WssHelloWorld"
                    xmlns:serviceNamespace="http://service.it2go.com/"
                    serviceName="serviceNamespace:HelloWorld"
                    endpointName="serviceNamespace:HelloWorld"
                    implementor="com.it2go.service.HelloWorldImpl"
                    address="/WssHelloWorld">
        <jaxws:properties>
            <!--<entry key="ws-security.validate.token" value="false" />-->
            <entry key="ws-security.callback-handler" value-ref="myPasswordCallback" />
        </jaxws:properties>
        <jaxws:features>
            <p:policies>
                <!--<wsp:PolicyReference URI="classpath:/no_security.policy"/>-->
                <wsp:PolicyReference URI="classpath:/UsernameToken.policy"/>
                <!--<wsp:PolicyReference URI="classpath:/SecureConversationToken.policy"/>-->
            </p:policies>
        </jaxws:features>
    </jaxws:endpoint>

</beans>