<wsp:Policy
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"		
		wsu:Id="TestSecurityPolicy">
<!--
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"

	xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
-->

	<wsp:ExactlyOne>
			<wsp:All>
				<sp:SymmetricBinding>
					<wsp:Policy>
						<sp:ProtectionToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
									<wsp:Policy>
										<sp:RequireDerivedKeys/>
										<sp:RequireThumbprintReference/>
										<sp:WssX509V3Token10/>
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:ProtectionToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax/>
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp/>
						<sp:EncryptSignature />
						<sp:OnlySignEntireHeadersAndBody/>
					</wsp:Policy>
				</sp:SymmetricBinding>
				<sp:SignedParts>
					<sp:Body/>
					<sp:Header Name="To" Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
				</sp:SignedParts>
				<sp:EncryptedParts>
					<sp:Body />
				</sp:EncryptedParts>
				<sp:Wss11>
					<wsp:Policy>
						<sp:MustSupportRefKeyIdentifier/>
						<sp:MustSupportRefIssuerSerial/>
						<sp:MustSupportRefThumbprint/>
						<sp:MustSupportRefEncryptedKey/>
						<sp:RequireSignatureConfirmation/>
					</wsp:Policy>
				</sp:Wss11>
				<!--Definition des Transportbindings als HTTPS-->
<!--
				<sp:TransportBinding>
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic128 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>

-->

				<!--				<sp:TransportBinding>
                                    <wsp:Policy>
                                        <sp:TransportToken>
                                            <wsp:Policy>
                                                <sp:HttpsToken RequireClientCertificate="false" />
                                            </wsp:Policy>
                                        </sp:TransportToken>
                                        <sp:AlgorithmSuite>
                                            <wsp:Policy>
                                                <sp:Basic128/>
                                            </wsp:Policy>
                                        </sp:AlgorithmSuite>
                                    </wsp:Policy>
                                </sp:TransportBinding>-->
				<!--Definition der Anforderung an ein SecurityContext Token-->
<!--				<sp:SupportingTokens>
					<wsp:Policy>
						<sp:UsernameToken IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssUsernameToken11 />
							</wsp:Policy>
						</sp:UsernameToken>
					</wsp:Policy>
				</sp:SupportingTokens>
				-->
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>